.footer {
    background-color: #e0e0e0;
    color: gray;
    font-size: 12px;
    margin-top: 30px;
    padding : 30px;
    bottom: 0;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}